<% unless @product_properties.empty? %>
  <h6 class="product-section-title"><%= t('spree.properties')%></h6>
  <ul id="product-properties" class="list-group" data-hook>
    <% @product_properties.each do |product_property| %>
      <li class="list-group-item">
        <span class="badge"><%= product_property.value %></span>
        <strong><%= product_property.property.presentation %></strong>
      </li>
    <% end %>
  </ul>
<% end %>
